@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/***************************************************/

:root {
    --woofleBlue: #0049FF;
}

::selection {
    background-color: var(--woofleBlue);

    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: var(--woofleBlue); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0039c8;     
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: black;
    background-image: url('./images/bg.jpg');
    
    color: white;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
}

#container {
    flex: 1;

    text-shadow: 2px 2px 4px black;
    
    animation: fadeIn ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/***************************************************/

h1 {
    margin: 20px 0;

    font-size: 50px;
}

/***************************************************/

#image-container {
    margin-bottom: 5px;
}

img {
    border-radius: 50%;

    transition: .2s;
    filter: drop-shadow(10px 10px 10px black);
}

img:hover {
    transform: scale(.9); 
    filter: drop-shadow(3px 3px 3px black);
}

i {
    font-size: smaller;
}

/***************************************************/

.links {
    padding: 20px 0;
}

ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

li {
    padding: 10px;
}

li a {
    display: inline-block;

    transition: 0.1s;

    text-shadow: 0 0 5px black;
    filter: drop-shadow(3px 3px 3px black);
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

li a:link, li a:visited {
    padding: 5px;

    border-radius: 7px;
}

li a:hover, li a:active {
    font-weight: 750;
    
    transform: scale(1.3);
    filter: drop-shadow(5px 5px 5px black);
}

/***************************************************/

a.twitch {
    background-color: #9146FF;
}

a.youtube {
    background-color: #FF0000;
}

a.tiktok {
    background-color: black;

    text-shadow: 0.7px 0.7px #ff0050, -0.7px -0.7px #00f2ea;
}

a.instagram {
    background: linear-gradient(45deg,
        #405DE6,
        #5B51D8,
        #833AB4,
        #C13584,
        #E1306C,
        #FD1D1D,
        #F56040,
        #F77737,
        #FCAF45,
        #FFDC80
    );
}

a.github {
    background-color: black;
}

a.itch-io {
    background-color: #fa5c5c;
}

a.gamebanana {
    background-color: black;
}

#game {
    color: #3377b2;
}

#banana {
    color: #eadd33;
}

a.wca {
    background: linear-gradient(135deg, rgba(0,0,0,0) 66%, 66%, #e12929),
                linear-gradient(45deg, #ddde45 33%, 33%, rgba(0,0,0,0)),
                linear-gradient(180deg, #304a97 100%, 100%, rgba(0,0,0,0));
}

a.spotify {
    background-color: #1DB954;

    color: #191414;
    font-weight: 500;

    text-shadow: none;
}

a.bandlab {
    background-color: #f12c18;
}

a.soundcloud {
    background-color: #ff7700;
}

a.apple-music {
    background: linear-gradient(to top, #fc3c44, #f94c57);
}

a.amazon-music {
    background: linear-gradient(to top, #2b206f, #4400ff);
}

a.pandora {
    background: linear-gradient(45deg, #00a0ee, #366bff);
}

a.deezer {
    background: linear-gradient(75deg,
        #fe9d00,
        #f5541c,
        #b20188,
        #1851b9,
        #08a084
    );
}

/***************************************************/

footer {
    padding: 20px;
    
    background-color: black;
    
    font-size: smaller;
}

#cool-guy {
    display: inline-block;

    transition: .5s;
}

#cool-guy:hover{
    transform: rotateX(360deg);
}

footer a:active, footer a:hover {
    text-decoration: underline;
}

/***************************************************/

.hidden {
    display: none;
}
