@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/***************************************************/

:root {
    --woofleBlue: #0049FF
}

html {
    height: 100%;
}

body {  
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    justify-content: center;

    background-image: url('./images/bg.png');
    color: white;

    margin: 0;
    padding: 0;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#container {
    flex: 1;
    
    animation: fadeIn ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/***************************************************/

h1 {
    font-size: 50px;
    margin: 20px 0;
}

/***************************************************/

img {
    transition: .2s;

    border-radius: 50%;
}

img:hover {
    transform: scale(.9); 
}

i {
    font-size: smaller;
}

/***************************************************/

.links {
    padding: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}

a {
    transition: 0.1s;
    display: inline-block;
}

a:link, a:visited {
    padding: 5px;
    border-radius: 7px;

    color: white;
    text-decoration: none;
    background-color: var(--woofleBlue);
}

a:hover, a:active {
    transform: scale(1.3);
    font-weight: bold;
}

/***************************************************/

footer {
    background-color: black;
    padding: 20px;
    font-size: smaller;
}

/***************************************************/

.hidden {
    display: none;
}