@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/***************************************************/

:root {
    --woofleBlue: #0049FF
}

html {
    height: 100%;
}

body {  
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    justify-content: center;

    background-image: url('./images/bg.png');
    color: white;

    margin: 0;
    padding: 0;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#container {
    flex: 1;
    
    animation: fadeIn ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/***************************************************/

h1 {
    font-size: 50px;
    margin: 20px 0;
}

/***************************************************/

img {
    transition: .2s;

    border-radius: 50%;
}

img:hover {
    transform: scale(.9); 
}

i {
    font-size: smaller;
}

/***************************************************/

.links {
    padding: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}

a {
    transition: 0.1s;
    display: inline-block;
}

a:link, a:visited {
    padding: 5px;
    border-radius: 7px;

    color: white;
    text-decoration: none;
}

a:hover, a:active {
    transform: scale(1.3);
    font-weight: bold;
}

/***************************************************/

a.twitch {
    background-color: #9146FF;
}

a.youtube {
    background-color: #FF0000;
}

a.tiktok {
    background-color: black;
    
    color: #00f2ea;
    text-shadow: 1.5px 1.5px #ff0050 ;
}

a.instagram {
    background: linear-gradient(45deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

a.github {
    background-color: black;
}

a.itch-io {
    background-color: #fa5c5c;
}

a.gamebanana {
    background-color: #eee442;
    
    color: black;
}

a.wca {
    background: linear-gradient(135deg, rgba(0,0,0,0) 66%, 66%, #e12929),
                linear-gradient(45deg, #ddde45 33%, 33%, rgba(0,0,0,0)),
                linear-gradient(180deg, #304a97 100%, 100%, rgba(0,0,0,0));
}

a.spotify {
    background-color: #1DB954;

    color: #191414;
}

a.soundcloud {
    background-color: #ff7700;
}

a.apple-music {
    background: linear-gradient(to top, #fc3c44, #f94c57)
}

/***************************************************/

footer {
    background-color: black;
    padding: 20px;
    font-size: smaller;
}

/***************************************************/

.hidden {
    display: none;
}